.card{
    display: flex;
    flex-direction: column;
    border: 1px solid #777;
    /* height: ; */
    background-color: #fff;
    border-radius: 10px;
}
.card-image {
    height: 180px;
    width: 347px;
    /*background-repeat: no-repeat;
    background-size: cover; */
    background-color: #777;
    border-radius: 10px 10px 0px 0px;
  }
.card-detail{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
    height: 220px;
    justify-content: space-around;
    border-radius: 10px;
   
}
.card-size{
    width: 348px;
    height: 400px;
}
.titles{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}
.titles p{
    color: #888;
}
.links{
    display: flex;
    gap: 2rem;
    color: purple;
}
.test{
    background-color: #777;
    /* width: 348px; */
    height: 300px;
    
}
/* .first{
    display: flex;
    flex-direction: column;
} */
/* .second{
    background-color: #fff;
} */